<!DOCTYPE html>
<html lang="en">
<head>
<title>Sugar Lift</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half input{margin-bottom:-6px;margin-top:16px;opacity:1;cursor:pointer}
.w3-half input:hover{opacity:0.6}
</style>
</head>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
{{#if login}}
<h3 class="w3-padding-64"><a href="https://sugar-lift.sites.tjhsst.edu/logout">Logout</a></h3>
{{else}}
<h3 class="w3-padding-64"><a href="https://sugar-lift.sites.tjhsst.edu/login">Login</a></h3>
{{/if}}

  </div>
  <div class="w3-bar-block">
    <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> 
    <a href="#showcase" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Chart</a> 
    <a href="#services" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Exercise</a> 
    <a href="#designers" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Profile</a> 
    <a href="#packages" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Background</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
  <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="w3_open()">☰</a>
  {{#if login}}
<a href="https://sugar-lift.sites.tjhsst.edu/logout">Logout</a>
{{else}}
<a href="https://sugar-lift.sites.tjhsst.edu/login">Login</a>
{{/if}}
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

  <!-- Header -->
  <div class="w3-container" style="margin-top:80px" id="showcase">
    <h1 class="w3-jumbo"><b>Sugar Lift</b></h1>
    <h1 class="w3-xxxlarge w3-text-red"><b>Chart.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
    {{#if login}}
    <canvas id="myChart" </canvas>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
    
   const ctx = document.getElementById('myChart');
const myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: ["00:00","01:00","02:00","03:00","04:00","05:00","06:00","07:00","08:00","09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00","24:00"],
        datasets: [{
            label: 'Blood Sugar',
            data: [120, 190, 130, 150, 170, 100, 120, 190, 130, 150, 190, 130, 150, 170, 100, 90],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            y: {
                beginAtZero: false
            }
        }
    }
});
    
    
</script>
    {{else}}
    <div class="w3-light-grey">
<h3 class="w3-container">Please Login First</h3>
</div>
{{/if}}
  </div>
  
 
  <!-- Services -->
  <div class="w3-container" id="services" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Exercise.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    
{{!--<form action="https://sugar-lift.sites.tjhsst.edu/exercise">--}}
{{!--	<label for="exerciseType">Choose your exercise:</label>--}}

{{!--    <select name="exerciseType" id="exerciseType">--}}
{{!--      <option value="cardio">Cardio</option>--}}
{{!--      <option value="weightlifting">Weightlifting</option>--}}
{{!--    </select>--}}
{{!--    <input type="submit" name="GO" value="Go"/>--}}
{{!--</form> --}}
{{#if login}}
<form action="https://sugar-lift.sites.tjhsst.edu/exercise">
<h3 class="w3-xlarge w3-padding-32">Select your exercise:</h3>
<!-- Photo grid (modal) -->
  <div class="w3-row-padding">
    <div class="w3-half">
      <input type="image" src="https://sugar-lift.sites.tjhsst.edu/img/cycling.jpeg" style="width:100%" onclick="onClick(this)" alt="Cycling" name="cycling">
      <input type="image" src="https://sugar-lift.sites.tjhsst.edu/img/jogging.jpeg" style="width:100%" onclick="onClick(this)" alt="Jogging" name="jogging">
      <input type="image"src="https://sugar-lift.sites.tjhsst.edu/img/swimming.jpeg" style="width:100%" onclick="onClick(this)" alt="Swimming" name="swimming">
    </div>

    <div class="w3-half">
      <input type="image" src="https://sugar-lift.sites.tjhsst.edu/img/sprinting.jpeg" style="width:100%" onclick="onClick(this)" alt="Sprinting" name="sprinting">
      <input type="image" src="https://sugar-lift.sites.tjhsst.edu/img/weightlifting.jpeg" style="width:100%" onclick="onClick(this)" alt="Weightlifting" name="weightlifting">
      <input type="image" src="https://sugar-lift.sites.tjhsst.edu/img/sports.jpeg" style="width:100%" onclick="onClick(this)" alt="Sports" name="sports">
    </div>
  </div>
</form>
  {{!--<!-- Modal for full size images on click-->--}}
  {{!--<div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">--}}
  {{!--  <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>--}}
  {{!--  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">--}}
  {{!--    <img id="img01" class="w3-image">--}}
  {{!--    <p id="caption"></p>--}}
  {{!--  </div>--}}
  {{!--</div>--}}
  </div>
      {{else}}
    <div class="w3-light-grey">
    <h3 class="w3-container">Please Login First</h3>
    </div>
    {{/if}}
  <!-- Designers -->
  <div class="w3-container" id="designers" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Profile.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">

  </div>
  

  <!-- The Team -->
  <div class="w3-row-padding w3-grayscale">
    <div class="w3-col m4 w3-margin-bottom">
      <div class="w3-light-grey">
          
          {{#if login}}

        <img src="/w3images/team2.jpg" alt="John" style="width:100%">
        <div class="w3-container">
          <h3>John Doe</h3>
        {{!--  <p class="w3-opacity">CEO & Founder</p>--}}
        {{!--  <p>Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.</p>--}}
        </div>
        {{else}}
        <h3 class="w3-container">Please Login First</h3>
        {{/if}}
      </div>
    </div>
  </div>

  <!-- Packages / Pricing Tables -->
  <div class="w3-container" id="packages" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Background.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Controlling Blood Glucose (BG) during exercise is difficult for Type 1 Diabetics (T1D). Recent research from Johns Hopkins University has led to significant findings on how aerobic and anaerobic exercise uniquely affect BG. Sugar Lift is here to help you keep lifting and control your BG.</p>
  </div>

  <div class="w3-row-padding">
    <div class="w3-half w3-margin-bottom">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Aerobic</li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16">
          <h2></h2>
          <span class="w3-opacity"></span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-red w3-padding-large w3-hover-black">Learn More</button>
        </li>
      </ul>
    </div>
        
    <div class="w3-half">
      <ul class="w3-ul w3-light-grey w3-center">
        <li class="w3-red w3-xlarge w3-padding-32">Anaerobic</li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16"></li>
        <li class="w3-padding-16">
          <h2></h2>
          <span class="w3-opacity"></span>
        </li>
        <li class="w3-light-grey w3-padding-24">
          <button class="w3-button w3-red w3-padding-large w3-hover-black">Learn More</button>
        </li>
      </ul>
    </div>
  </div>
  
  <!-- Contact -->
  <div class="w3-container" id="contact" style="margin-top:75px">
    <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
    <hr style="width:50px;border:5px solid red" class="w3-round">
    <p>Need some help? Fill out the form and fill me in with the details :)</p>
    <form action="https://sugar-lift.sites.tjhsst.edu/contact" target="_blank">
      <div class="w3-section">
        <label>Name</label>
        <input class="w3-input w3-border" type="text" name="Name" required>
      </div>
      <div class="w3-section">
        <label>Email</label>
        <input class="w3-input w3-border" type="text" name="Email" required>
      </div>
      <div class="w3-section">
        <label>Message</label>
        <input class="w3-input w3-border" type="text" name="Message" required>
      </div>
      <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message</button>
    </form>  
  </div>

<!-- End page content -->
</div>

<!-- W3.CSS Container -->
<div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p class="w3-right">Founded by Jay Lalwani</a></p></div>

<script>
// Script to open and close sidebar
function w3_open() {
  document.getElementById("mySidebar").style.display = "block";
  document.getElementById("myOverlay").style.display = "block";
}
 
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
  document.getElementById("myOverlay").style.display = "none";
}

// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
</script>

</body>
</html>
